version: '3.7'
services:

  esia_conn_service:
    image: esia_conn
    environment:
      ESIA_PROD_MODE: "false"
      APP_MNEMONIC: "SGMU006301"
      APP_REDIRECT_URL: "http://localhost:5000/esia_response"
      APP_PUBLIC_KEY_FILE: "mdapp3.pem"
      APP_PRIVATE_KEY_FILE: "mdapp3.pem"
      APP_SCOPES: "fullname birthdate snils gender"
      APP_VALIDATE_RESPONSE: "false"
    ports:
      - "5000:5000"
    volumes:
      - ./cert:/app/cert

